.page{
    display:flex;
    flex-wrap: wrap;
}
.page section{
    border:1px solid red;
    height:50vh;
    width:50vw;

}
body::-webkit-scrollbar{
    display:none;
}/* 等同于body{overflow:hidden;} */
